body {
	font-family: "Open Sans", sans-serif;
}

.form-group {
  margin: 5px;
  padding: 5px;
}

.bg-1 {
	background-color: #1abc9c;
	color: #ffffff;
	padding-bottom: 10px;
}

.ui-timepicker-wrapper {
	width: 100px;
}

input:valid {
	box-shadow: 0 0 2px 1px #00E200;
}

input:invalid {
	box-shadow: 0 0 5px 1px red;
}


.required {
	color: red;
}